@model SlideShowVM
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Dashboard">Dashboard</a></li>
                    <li class="breadcrumb-item active">Edit  Slide</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<div class="card">
  <div class="card-header">
      <h3 class="text-uppercase">Edit Slide</h3>
  </div>
  <div class="card-body">
      <form asp-action="Edit" asp-controller="SlideShow" enctype="multipart/form-data" class="form-horizontal">
          <div class="row">
              <div class="col-md-6">
                  <div class="form-group">
                      <label for="Title_Arabic"  class="control-label">Title Name Arabic</label>
                      <input asp-for="Title_Arabic"  required class="form-control" />
                      <span asp-validation-for="Title_Arabic" class="text-danger"></span>
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="form-group">
                      <label for="Title_English"   class="control-label">Title Name English</label>
                      <input asp-for="Title_English" onkeypress="return (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode >= 48 && event.charCode <= 57) || (event.charCode == 32 ) " required class="form-control" />
                      <span asp-validation-for="Title_English" class="text-danger"></span>
                  </div>
              </div>
          </div>
          
          <div class="row">
              <div class="col-md-6">
                  <div class="form-group">
                      <label for="ReSizeme_Arabic"  class="control-label">ReSizeme Name Arabic</label>
                      <input asp-for="ReSizeme_Arabic"  required class="form-control" />
                      <span asp-validation-for="ReSizeme_Arabic" class="text-danger"></span>
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="form-group">
                      <label for="ReSizeme_English"   class="control-label">"ReSizeme Name English</label>
                      <input asp-for="ReSizeme_English" onkeypress="return (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode >= 48 && event.charCode <= 57) || (event.charCode == 32 ) " required class="form-control" />
                      <span asp-validation-for="ReSizeme_English" class="text-danger"></span>
                  </div>
              </div>
          </div>
          <div class="row">
          
              <div class="col-md-6">
                  <div class="form-group">
                      <label asp-for="SlideImageFormFile" class="control-label"></label>
                      <div class="custom-file">
                          <input  asp-for="SlideImageFormFile" class="custom-file-input" />
                          <label class="custom-file-label" for="customFile">Choose file</label>
                      </div>
                      @*<span asp-validation-for="SlideImageFormFile" class="text-danger"></span>*@
                      <img src="@Model.SlideImage" class="img-thumbnail" height="80" width="80"  />
                  </div>
              </div>
          </div>
          


          <div class="form-group">
              <input type="submit" value="Edit" class="btn btn-sm btn-primary rounded-0" />
              <a asp-action="Index"  asp-controller="SlideShow" class="btn btn-sm btn-primary rounded-0">Back to List</a>
          </div>
      </form>
  </div>
</div>
@section Scripts {
    <script>
        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}