@model TransiactionItem_SelectionVM
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item text-uppercase"><a asp-action="Index" asp-controller="Dashboard">Dashboard</a></li>
                    <li class="breadcrumb-item text-uppercase"><a asp-action="Index" asp-controller="TransiactionItem_Selection">Sub Services Selection</a></li>
                    <li class="breadcrumb-item text-uppercase active">Create Selection</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<div class="card">
    <div class="card-header">
        <h3 class="text-uppercase">Create New Selection</h3>
    </div>
    <div class="card-body">
        <form asp-action="Create" asp-controller="TransiactionItem_Selection" enctype="multipart/form-data" class="form-horizontal">
            <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="SelectionGroupID"  class="control-label">Entity Name </label>
                    @*   <select class="custom-select" asp-for="TransactionGroupID" required class="form-control" asp-items=" ViewBag.SelectGroupTransaction" />*@

                    <select class="custom-select select2bs4" style="width: 100%;" id="SelectionGroupID" name="SelectionGroupID" required asp-for="SelectionGroupID"  
                            asp-items="@(new SelectList( ViewBag.SelectGroupSelection,"ID","Selection_GroupName_Arab"))" >
                        <option disabled>Select Group</option>
                    </select>
                       
                    <span asp-validation-for="SelectionGroupID" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="InquiryName_Arabic"  class="control-label">Selection Name Arabic</label>
                        <input asp-for="SelectionName_Arabic" required class="form-control" />
                        <span asp-validation-for="SelectionName_Arabic" class="text-danger"></span>
                    </div>
                </div>
            
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="InquiryName_English"  class="control-label">Selection Name English</label>
                        <input asp-for="SelectionName_English" required id="InquiryName_English" class="form-control" />
                        <span asp-validation-for="SelectionName_English" class="text-danger"></span>
                    </div>
                </div>
            </div>
         
        
            <hr />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-sm btn-primary rounded-0" />
                <input type="reset" value="Reset" class="btn btn-sm btn-secondary rounded-0" />
                <a asp-action="Index"  asp-controller="TransiactionItem_Selection" class="btn btn-sm btn-primary rounded-0">Back to List</a>
            </div></div>
        </form>
    </div>
</div>
@section Scripts{
    <script>
        $('.select2bs4').select2({
            theme: 'bootstrap4'
        })
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}