@using GSI_Internal.Areas.Identity.Pages.Account
@using GSI_Internal.Entites
@using Microsoft.CodeAnalysis.VisualBasic.Syntax
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Service finder </title>
    <link href="~/Client/css/bootstrap.css" rel="stylesheet">
    <link href="~/Client/css/style.css" rel="stylesheet">
    <link href="~/Client/css/responsive.css" rel="stylesheet">
    <link rel="~/Client/shortcut icon" href="images/favicon.png" type="image/x-icon">
    <link rel="icon" href="images/favicon.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="~/Client/slider/swiper-bundle.min.css">
    <link rel="stylesheet" href="~/Client/slider/style.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />


    <style>
        .swiper {
            width: 1300px;
        }

        .card {
            position: relative;
            background: #fff;
            border-radius: 20px;
            margin: 20px 0;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        }

            .card::before {
                content: "";
                position: absolute;
                height: 40%;
                width: 100%;
                /* background: #c39946; */
                border-radius: 20px 20px 0 0;
            }

            .card .card-content {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 30px;
                position: relative;
                z-index: 100;
            }

        section .card .image {
            height: 140px;
            width: 140px;
            border-radius: 50%;
            padding: 3px;
            background: #c39946;
        }

            section .card .image img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                border-radius: 50%;
                border: 3px solid #fff;
            }

        .card .media-icons {
            position: absolute;
            top: 10px;
            right: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

            .card .media-icons i {
                color: #fff;
                opacity: 0.6;
                margin-top: 10px;
                transition: all 0.3s ease;
                cursor: pointer;
            }

                .card .media-icons i:hover {
                    opacity: 1;
                }

        .card .name-profession {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 10px;
        }

        .name-profession .name {
            font-size: 20px;
            font-weight: 600;
        }

        .name-profession .profession {
            font-size: 15px;
            font-weight: 500;
        }

        .card .rating {
            display: flex;
            align-items: center;
            margin-top: 18px;
        }

            .card .rating i {
                font-size: 18px;
                margin: 0 2px;
                color: #c39946;
            }

        .card .button {
            width: 100%;
            display: flex;
            justify-content: space-around;
            margin-top: 20px;
        }

            .card .button button {
                background: #c39946;
                outline: none;
                border: none;
                color: #fff;
                padding: 8px 22px;
                border-radius: 20px;
                font-size: 14px;
                transition: all 0.3s ease;
                cursor: pointer;
            }

        .button button:hover {
            background: #6616d0;
        }

        .swiper-pagination {
            position: absolute;
        }

        .swiper-pagination-bullet {
            height: 7px;
            width: 26px;
            border-radius: 25px;
            background: #c39946;
        }

        .swiper-button-next,
        .swiper-button-prev {
            opacity: 0.7;
            color: #c39946;
            top: 60% !important;
            transition: all 0.3s ease;
        }

            .swiper-button-next:hover,
            .swiper-button-prev:hover {
                opacity: 1;
                color: #c39946;
            }

        .credit a {
            text-decoration: none;
            color: #c39946;
            font-weight: 800;
        }

        .credit {
            text-align: center;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
    </style>

</head>
<body>
 <div class="page-wrapper">

        <div class="modal fade" id="login-signup-model">
            <div class="modal-dialog">
                <div class="modal-content">
                    <button type="button" class="close aon-login-close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <div class="modal-body">

                        <div class="sf-custom-tabs sf-custom-new aon-logon-sign-area p-3">

                            <!--Tabs-->
                            <ul class="nav nav-tabs nav-table-cell">
                                <li><a data-toggle="tab" href="#Upcoming" class="active">Login</a></li>
                                <li><a data-toggle="tab" href="#Past">Sign up</a></li>
                            </ul>
                            <!--Tabs Content-->
                            <div class="tab-content">

                                <!--Login Form-->
                                <div id="Upcoming" class="tab-pane active">
                                    <partial name="_LoginClientPartial" model="new LoginModel.InputModel()"/>
                                    @* <div class="sf-tabs-content">
                                        <form class="aon-login-form">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <div class="aon-inputicon-box">
                                                            <input class="form-control sf-form-control"
                                                                name="company_name" type="text" placeholder="User Name">
                                                            <i class="aon-input-icon fa fa-user"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <div class="aon-inputicon-box">
                                                            <input class="form-control sf-form-control"
                                                                name="company_name" type="password"
                                                                placeholder="Password">
                                                            <i class="aon-input-icon fa fa-lock"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div
                                                        class="form-group d-flex aon-login-option justify-content-between">
                                                        <div class="aon-login-opleft">
                                                            <div class="checkbox sf-radio-checkbox">
                                                                <input id="td2_2" name="abc" value="five"
                                                                    type="checkbox">
                                                                <label for="td2_2">Keep me logged</label>
                                                            </div>
                                                        </div>
                                                        <div class="aon-login-opright">
                                                            <a href="#">Forget Password</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <button type="submit" class="site-button w-100">Submit <i
                                                            class="feather-arrow-right"></i> </button>
                                                </div>

                                            </div>
                                        </form>
                                    </div>*@
                                </div>

                                <!--Sign up Form-->
                                <div id="Past" class="tab-pane">
                                    <partial name="_RegisterClientPartial" model="new RegisterModel.InputModel()"/>
                                    @*  <div class="sf-tabs-content">
                                        <form class="aon-login-form">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="aon-inputicon-box">
                                                            <input class="form-control sf-form-control"
                                                                name="First_Name" type="text" placeholder="First Name">
                                                            <i class="aon-input-icon fa fa-user"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="aon-inputicon-box">
                                                            <input class="form-control sf-form-control"
                                                                name="company_name" type="text" placeholder="Last Name">
                                                            <i class="aon-input-icon fa fa-user"></i>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="aon-inputicon-box">
                                                            <input class="form-control sf-form-control" name="Phone"
                                                                type="number" placeholder="Phone">
                                                            <i class="aon-input-icon fa fa-phone"></i>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="aon-inputicon-box">
                                                            <select class="form-control sf-form-contro chosen-select"
                                                                style="display: none;">
                                                                <option>No</option>
                                                                <option>Yes</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <div class="aon-inputicon-box">
                                                            <input class="form-control sf-form-control" name="email"
                                                                type="text" placeholder="Email">
                                                            <i class="aon-input-icon fa fa-envelope"></i>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <div class="aon-inputicon-box">
                                                            <input class="form-control sf-form-control" name="password"
                                                                type="password" placeholder="Password">
                                                            <i class="aon-input-icon fa fa-lock"></i>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <div class="aon-inputicon-box">
                                                            <input class="form-control sf-form-control" name="password"
                                                                type="password" placeholder="Confirm Password">
                                                            <i class="aon-input-icon fa fa-lock"></i>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-12">
                                                    <div class="form-group sign-term-con">
                                                        <div class="checkbox sf-radio-checkbox">
                                                            <input id="td33" name="abc" value="five" type="checkbox">
                                                            <label for="td33">I've read and agree with your <a href="#"
                                                                    style="border-bottom: 4px solid #c39946;">Privacy
                                                                    Policy</a> </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <button type="submit" class="site-button w-100">Submit <i
                                                            class="feather-arrow-right"></i> </button>
                                                </div>

                                            </div>
                                        </form>
                                    </div>*@
                                </div>

                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="preloader"></div> -->
        <header class="main-header alternate">
            <div class="header-top-area">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-lg-5">

                            <div class="top-contact">
                                <a href="#"><i class="fas fa-map-marker-alt mr-2"></i>Dubai abu dhabi</a>
                                <a href="#"><i class="fa fa-envelope"></i> info.com</a>
                                <a href="#"><img src="images/language/ar/ar.png"
                                        style="max-width:18px;margin-right: 5px;" alt="">العربية</a>
                            </div>

                        </div>
                        <div class="col-12 col-lg-7 d-flex justify-content-center justify-content-lg-end">
                            <div class="top-menu">
                                <ul class="social-icon-two">
                                    <li><a href="#"><span class="fab fa-facebook"></span></a></li>
                                    <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                                    <li><a href="#"><span class="fab fa-instagram"></span></a></li>
                                    <li><a href="#"><span class="fab fa-whatsapp"></span></a></li>
                                    <li><a href="#"><span class="fab fa-google"></span></a></li>
                                    <li> <a href="#"><span class="fa fa-phone"></span></a></li>
                                </ul>

                            </div>

                        </div>


                    </div>
                </div>
            </div>
            <div class="main-box">
                <div class="logo-box">
                    <div class="logo"><a href="index.html"><img src="images/logo.png" alt="" title=""></a></div>
                </div>
                <div class="nav-outer">
                    <nav class="nav main-menu">
                        <ul class="navigation" id="navbar">
                            <li><a href="index.html">Home</a></li>
                            <li><a href="#Partners">Partners</a></li>
                            <li class="dropdown">
                                <span>Our Company</span>
                                <ul>
                                    <li><a href="about-us.html">About-us</a></li>
                                    <li><a href="mission.html">Our Mission</a></li>
                                    <li><a href="mission.html">Our Vision</a></li>
                                    <li><a href="mission.html">Our Values</a></li>
                                    <li><a href="Policy.html">Privacy & Policy</a></li>
                                    <li><a href="Terms.html">Terms & Condition</a></li>
                                </ul>
                            </li>
                            <li><a href="services.html">Services directory</a></li>
                            <li class="dropdown">
                                <span>Account</span>
                                <ul>
                                    <li><a href="callculate.html">Account receivables</a></li>
                                    <li><a href="#">Works</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <span>Query</span>
                                <ul>
                                    <li><a href="#">Links</a></li>
                                    <li><a href="#">Links</a></li>
                                </ul>
                            </li>
                            <li><a href="contact.html">Contact-us</a></li>
                        </ul>
                    </nav>
                    <!-- Main Menu End-->

                    <div class="outer-box">
                        <!-- Add Listing -->

                        <!-- Cart btn -->
                        <div class="cart-btn">
                            <a href="#" style="color: #c39946;">
                                <i class="fab fa-app-store fa-lg fa-spin fa-pulse"></i>
                            </a>
                            <div class="shopping-cart">
                                <ul class="shopping-cart-items">
                                    <li class="cart-item"> 
                                        <a href=""><img src="images/520.png" alt="" class="thumb" /></a>
                                    </li>
                                    <li class="cart-item"> 
                                    <a href=""><img src="images/google-play-removebg-preview.png" alt="" class="thumb" /></a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="search-box">
                            <button class="search-btn mobile-search-btn"><i class="flaticon-magnifying-glass"
                                    style="color: #c39946;font-weight: 800;"></i></button>
                        </div>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <form id="logoutForm  asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                            <div class="cart-btn">
                                <a href="#" style="color: #c39946;">
                                        Hello @UserManager.GetUserName(User)!
                                </a>
                                <div class="shopping-cart">
                                    <ul class="shopping-cart-items">
                                        <li class="cart-item"> 
                                            <a asp-controller="ClientDashboard" asp-action="Index" style="color: #c39946;" >My Dashbourd</a>
                                        </li>
                                        <li class="cart-item"> 
                                            <button id="logout" type="submit" style="color: #c39946;">Logout</button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            </form>


                         
                        }
                        @if (SignInManager.IsSignedIn(User)==false)
                        {
                            <div class="login-box">
                                <button type="button" class="aon-btn-login" style="color: #c39946;" data-toggle="modal"
                                        data-target="#login-signup-model">
                                    <i class="fa fa-user"></i> Login / Register
                                </button>
                            </div>
                        }
                       

                    </div>
                </div>
            </div>

            <!-- Mobile Header -->
            <div class="mobile-header">
                <div class="logo"><a href="index.html"><img src="images/logo-3.png" alt="" title=""></a></div>

                <!--Nav Box-->
                <div class="nav-outer clearfix">

                    <div class="outer-box">
                        <!-- Search Btn -->
                        <div class="search-box">
                            <button class="search-btn mobile-search-btn"><i
                                    class="flaticon-magnifying-glass"></i></button>
                        </div>

                        <!-- Cart btn -->
                        <div class="cart-btn">
                            <div class="cart-btn">
                                <a href="#" style="color: #c39946;"><i
                                        class="fab fa-google-play fa-lg fa-spin fa-pulse"></i></a>
                                <div class="shopping-cart">
                                    <ul class="shopping-cart-items">
                                        <li class="cart-item"> <a href="">
                                                <img src="images/google-play-removebg-preview.png" alt=""
                                                    class="thumb" />
                                            </a>
                                        </li>
                                        <li class="cart-item"> <a href="">
                                                <img src="images/520.png" alt="" class="thumb" />
                                            </a>
                                        </li>
                                    </ul>



                                </div>
                                <!--end shopping-cart -->
                            </div>
                        </div>

                        <!-- Login/Register -->
                        <div class="login-box">
                            <button type="button" class="aon-btn-login" style="color: #c39946;" data-toggle="modal"
                                data-target="#login-signup-model">
                                <i class="fa fa-user"></i>
                            </button>
                        </div>
                        <a href="#nav-mobile" class="mobile-nav-toggler navbar-trigger"><span
                                class="fa fa-bars"></span></a>
                    </div>
                </div>
            </div>

            <!-- Mobile Nav -->
            <div id="nav-mobile"></div>

            <!-- Header Search -->
            <div class="search-popup">
                <span class="search-back-drop"></span>

                <div class="search-inner">
                    <button class="close-search"><span class="fa fa-times"></span></button>
                    <form method="post" action="blog-showcase.html">
                        <div class="form-group">
                            <input type="search" name="search-field" value="" placeholder="Search..." required="">
                            <button type="submit"><i class="flaticon-magnifying-glass"></i></button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- End Header Search -->



        </header>
        <!--End Main Header -->

        
         @RenderBody() 
        <!-- Main Footer -->
        <footer id="Partners" class="main-footer">
            <!-- Footer Upper -->
            <div class="footer-upper">
                <ul class="footer-nav">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="about-us.html">About-us</a></li>
                    <li><a href="services.html">Services Directory</a></li>
                    <li><a href="Policy.html">Privacy & Policy</a></li>
                    <li><a href="terms.html">Terms & Condition</a></li>
                    <li><a href="contact.html">Contact-us</a></li>
                </ul>
            </div>

            <!-- Footer Content -->
            <div class="footer-content">
                <div class="auto-container">
                    <ul class="social-icon-one">
                        <li><a href="#"><span class="fab fa-facebook"></span></a></li>
                        <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                        <li><a href="#"><span class="fab fa-instagram"></span></a></li>
                        <li><a href="#"><span class="fab fa-whatsapp"></span></a></li>
                        <li><a href="#"><span class="fab fa-dribbble"></span></a></li>
                        <li><a href="#"><span class="fab fa-google"></span></a></li>
                    </ul>

                    <ul class="copyright-text">
                        <li>Copyright © 2022 Service Find</li>
                        <li>New York, NY</li>
                        <li><a href="#">+61 2 8236 9200</a></li>
                    </ul>
                </div>
            </div>

            <!-- Footer Bottom -->
            <div class="footer-bottom">
                <div class="text">Service find created by Lightbulb-tech</div>
            </div>

            <!-- Scroll To Top -->
            <div class="scroll-to-top scroll-to-target" data-target="html" style="bottom: 105px;"><span
                    class="icon flaticon-mail"></span></div>
            <div class="scroll-to-top bottom scroll-to-target" data-target="html" style="bottom: 7%;"><span
                    class="fab fa-whatsapp"></span></div>
            <div class="scroll-to-top scroll-to-target" data-target="html"><span class="icon flaticon-call"></span>
            </div>
        </footer>
        <!-- End Footer -->
    </div><!-- End Page Wrapper -->
<script src="java/jquery-3.6.0.min.js"></script>
<script src="java/bootstrap.min.js"></script>


<script src="~/Client/js/jquery.js"></script>
<script src="~/Client/js/popper.min.js"></script>
<script src="~/Client/js/chosen.min.js"></script>
<script src="~/Client/js/bootstrap.min.js"></script>
<script src="~/Client/js/jquery-ui.min.js"></script>
<script src="~/Client/js/jquery.fancybox.js"></script>
<script src="~/Client/js/jquery.hideseek.min.js"></script>
<script src="~/Client/js/mmenu.polyfills.js"></script>
<script src="~/Client/js/mmenu.js"></script>
<script src="~/Client/js/appear.js"></script>
<script src="~/Client/js/owl.js"></script>
<script src="~/Client/js/wow.js"></script>
<script src="~/Client/js/script.js"></script>
<script src="~/Client/slider/swiper-bundle.min.js"></script>
    <script src="~/Client/slider/script.js"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="~/Client/js/ClientDesignScript.js"></script>
   
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
