@model TransactionGroupVM


                           <!-- COLUMNS 1 -->







<div class="feature-block-two col-lg-3 col-md-6 col-sm-12">
    <div class="media-bg-animate">
        <div class="inner-box">

            <div class="content">
                <a href="/Home/showSelectedSubGroup/@Model.ID"> <img src="~/Image/GroupTransPhoto/@Model.image" class="h-80" alt=""></a>
                <h5 class="text-center">@Model.TransactionGroup_NameEnglish</h5>

                <a href="/Home/showSelectedSubGroup/@Model.ID" class="overlay-link"></a>
            </div>
        </div>
    </div>
</div>
<!-- COLUMNS 2 -->
                       
        <!-- Services Finder categories END -->
@*          <li class="portfolio-item isotope-item category-banner wide tall">
                            <div class="portfolio-item-fw-bg flv_style_port_1">
                                <div class="portfolio-item-fw-wrapper">
                                    <div class="list_style_header">
                                        <h3 class="entry-title"><a href="/Home/showSelectedSubGroup/@Model.ID">@Model.TransactionGroup_NameEnglish</a></h3>
                                        <div class="links_wrapper">
                                            
                                            <a href="/Home/showSelectedSubGroup/@Model.ID" class="button button_js portfolio_next_js"><span class="button_icon"><i class="icon-down-open"></i></span></a>
                                         
                                        </div>
                                    </div>
                                    <div class="image_frame scale-with-grid">
                                        <div class="image_wrapper">
                                            <a href="/Home/showSelectedSubGroup/@Model.ID">
                                                <div class="mask"></div><img  style="object-fit:scale-down;
                                                                                                             width:576px;
                                                                                                             height:250px;
                                                                                                             border: solid 1px #CCC" src="~/Image/GroupTransPhoto/@Model.image" class="scale-with-grid wp-post-image" />
                                            </a>
                                            <div class="image_links triple">
                                             
                                                <a target="_blank" href="/Home/showSelectedSubGroup/@Model.ID" class="external"><i class="icon-forward"></i></a>
                                                <a href="/Home/showSelectedSubGroup/@Model.ID" class="link">@Model.count</a>
                                                <a href="/Home/showSelectedSubGroup/@Model.ID" class="zoom" rel="prettyphoto">Services</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="desc">
                                        <div class="title_wrapper">
                                            <h5 class="entry-title"><a href="portfolio-single-mixed.html">@Model.TransactionGroup_NameEnglish</a></h5>
                                            <div class="button-love">
                                                <a href="#" class="mfn-love" data-id="207"><span class="icons-wrapper"><i class="icon-heart-empty-fa"></i></span><span class="label"> </span></a>
                                            </div>
                                        </div>
                                      
                                    </div>
                                </div>
                            </div>
                        </li>*@


