@model IEnumerable<RequestSelection_GroupVM>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Dashboard">Dashboard</a></li>
              <li class="breadcrumb-item active">All Request Selection GroupVM</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>


<a asp-action="Create" asp-controller="RequestSelection_Group" class="btn btn-primary">Add New Enity</a>
<br />
<br />
<table id="example1" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>#</th>
            
           
            <th>Request Selection Group Name Arabic</th>
            <th>Request Selection Group Name English</th>
            
            <th>Action(s)</th>
           
        </tr>
    </thead>
    <tbody>
         @{ int rowNo = 0; 
             
          }
        @foreach (var item in Model)
        {
            <tr>
                <td> @(rowNo += 1)</td>
                
                <td>@item.Selection_GroupName_Arab</td>
                <td>@item.Selection_GroupName_English</td>
                <td>

                    <a href="/RequestSelection_Group/Edit/@item.ID" class="btn btn-sm btn-info rounded-0"><i class="fa fa-pencil-alt"></i></a>
                    <a href="/RequestSelection_Group/Delete/@item.ID" class="btn btn-sm btn-danger rounded-0"><i class="fa fa-trash-alt"></i></a>
                </td>
               
            </tr>
        }
    </tbody>
</table>


@section Scripts{
    



   <script>
$(document).ready( function () {
    $('#example1').DataTable( {
       
         buttons: ["copy", "csv", "excel", "pdf", "print", "colvis"],
            processing: true,
            responsive: true,
            lengthChange: false,
            orderCellsTop: true,
            autoWidth: true,
            deferRender: true
            
    }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');


  
  
  
  });
</script>
}

