@using GSI_Internal.Entites
@model RequirmentsFileAttachmentVM
@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "ChangeOrUploudFileAttachMend";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}
@if (SignInManager.IsSignedIn(User))
{
    <form asp-action="ChangeOrUploudFileAttachMend" asp-controller="ClientDashboard" enctype="multipart/form-data" class="form-horizontal">
        <div class="card aon-card" id="aon-contact-panel">
            <div class="card-header aon-card-header"><h4><i class="fa fa-envelope"></i> Contact Detail</h4></div>
            <div class="card-body aon-card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Upload New File For @Model.RequireName_English</label>
                            <div class="aon-inputicon-box">
                                <input type="hidden" asp-for="RequireID"/>
                                <span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><input type="file" asp-for="FileName_FormFIle" id="fileUpload"/>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <button type="submit" class="site-button aon-btn-login">
            <i class="fa fa-user"></i> Submit
        </button>

    </form>
}
             
<style>
    input[type="file"]::file-selector-button {
        border: 4px double #cccccc;
        padding: 0.2em 0.4em;
        border-radius: 0.2em;
        background-color: #ff8c00;
        transition: 1s;
        font-size: 10px;
       

       
    }

    input[type="file"]::-ms-browse:hover {
        background-color: #bdb76b;
        border:4px double #cccccc;
    }

    input[type="file"]::-webkit-file-upload-button:hover {
        background-color: #bdb76b;
        border: 4px double #cccccc;
    }

    input[type="file"]::file-selector-button:hover {
        background-color: #bdb76b;
        border: 4px double #cccccc;
    }
</style>