@model TransactionGroupVM
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@*<h1>Edit</h1>

<div class="col">
    <h1>Create New Transaction Group</h1>
    <form asp-action="Edit" asp-controller="TransiactionGroup" enctype="multipart/form-data" class="form-horizontal">
        <div class="form-group">
            <label for="GroupNameArab">Group Name Arabic </label>
            <input type="text" class="form-control" asp-for="TransactionGroup_NameArabic" required id="GroupNameArab" aria-describedby="my-name-desc" placeholder="Enter Name Arabic">
             <p id="my-name-desc">
            Please Enter Name Arabic.
        </p>
        </div>

          <div class="form-group">
            <label for="GroupNameEnglish">Group Name Arabic </label>
            <input type="text" class="form-control" asp-for="TransactionGroup_NameEnglish" required id="GroupNameEnglish" aria-describedby="my-name-desc" placeholder="Enter Name Arabic">
             <p id="my-name-desc">
            Please Enter Name English.
        </p>
        </div>*@
         
      @*   <div class="col-4 pt-t">
             <img src="~/Image/GroupTransPhoto/@Model.image" width="100%" style="border-radius:5px ; border:1px  solid #bbb" />
         </div>

          <div class="form-group">
            <label  asp-for="logo" for="logo"></label>
            <input type="file" class="form-control" id="logo" asp-for="logo" aria-describedby="emailHelp" placeholder="LOGO">
        </div>*@

@*          <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="logo" class="control-label"></label>
                        <div class="custom-file">
                            <input  asp-for="logo" class="custom-file-input" />
                            <label class="custom-file-label" for="customFile">Choose file</label>
                        </div>
                        <span asp-validation-for="logo" class="text-danger"></span>
                        <img src="~/Image/GroupTransPhoto/@Model.image" class="img-thumbnail" height="80" width="80"  />
                    </div>
                </div>
        <br />
        <br />
        <input type="submit" class="btn btn-primary" value="Save" />
        <input  type="reset" class="btn btn-secondary" value="Reset" />

    </form>
</div>*@

    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Dashboard">Dashboard</a></li>
              <li class="breadcrumb-item active">Edit Entiy</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

<div class="card">
  <div class="card-header">
      <h3 class="text-uppercase">Update Entity</h3>
  </div>
  <div class="card-body">
      <form asp-action="Edit" asp-controller="TransiactionGroup" enctype="multipart/form-data" class="form-horizontal">
          <div class="row">
              <div class="col-md-6">
                  <div class="form-group">
                      <label for="TransactionGroup_NameArabic"  class="control-label">Entity Name Arabic</label>
                      <input asp-for="TransactionGroup_NameArabic" required class="form-control" />
                      <span asp-validation-for="TransactionGroup_NameArabic" class="text-danger"></span>
                  </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                    <label for="TransactionGroup_NameEnglish"  class="control-label">Entity Name English</label>
                    <input asp-for="TransactionGroup_NameEnglish" required class="form-control" />
                    <span asp-validation-for="TransactionGroup_NameEnglish" class="text-danger"></span>
                </div>
            </div>
          </div>
          <div class="row">
          
          <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="logo" class="control-label"></label>
                        <div class="custom-file">
                            <input  asp-for="logo" class="custom-file-input" />
                            <label class="custom-file-label" for="customFile">Choose file</label>
                        </div>
                        <span asp-validation-for="logo" class="text-danger"></span>
                        <img src="~/Image/GroupTransPhoto/@Model.image" class="img-thumbnail" height="80" width="80"  />
                    </div>
                </div>
          </div>


           <div class="form-group">
                <button type="submit" class="btn btn-sm btn-info rounded-0"><i class="fa fa-pencil-alt"></i> Update</button>
                <a asp-action="Index" asp-controller="TransiactionGroup" class="btn btn-sm btn-primary rounded-0"><i class="fas fa-fast-backward"></i> Back to List</a>
            </div>
      </form>
  </div>
</div>

   @section Scripts {
    <script>
        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}