.pull-left {
    float: right !important;
}

.pull-right {
    float: left !important;
}

.text-right {
    text-align: left;
}

.text-left {
    text-align: right;
}

.navbar-left {
    float: right !important;
}

.navbar-right {
    float: left !important;
}

.m-l-none {
    margin-right: 0 !important;
}

.m-l-xs {
    margin-right: 5px !important;
    margin-left: 0;
}

.m-l-sm {
    margin-right: 10px !important;
    margin-left: 0;
}

.m-l {
    margin-right: 15px !important;
    margin-left: 0;
}

.m-l-md {
    margin-right: 20px !important;
    margin-left: 0;
}

.m-l-lg {
    margin-right: 30px !important;
    margin-left: 0;
}

.m-l-xl {
    margin-right: 40px !important;
    margin-left: 0;
}

.m-l-xxl {
    margin-right: 50px !important;
    margin-left: 0;
}

.m-r-xxs {
    margin-right: 0;
    margin-left: 1px !important;
}

.m-r-xs {
    margin-right: 0;
    margin-left: 5px !important;
}

.m-r-sm {
    margin-right: 0;
    margin-left: 10px !important;
}

.m-r {
    margin-right: 0;
    margin-left: 15px !important;
}

.m-r-md {
    margin-right: 0;
    margin-left: 20px !important;
}

.m-r-lg {
    margin-right: 0;
    margin-left: 30px !important;
}

.m-r-xl {
    margin-right: 0;
    margin-left: 40px !important;
}

.m-r-xxl {
    margin-right: 0;
    margin-left: 50px !important;
}

.navi ul.nav li a > i {
    float: right;
    margin-right: -10px;
    margin-left: 5px;
}

.app-aside {
    float: right;
}

@media (min-width: 768px) {
    .form-horizontal .control-label {
        text-align: right;
    }

    .navbar-collapse,
    .app-content,
    .app-footer {
    }

    .app-aside-right {
        right: auto;
        left: 0;
    }

    .app-aside-folded .navbar-collapse,
    .app-aside-folded .app-content,
    .app-aside-folded .app-footer {
        margin-right: 60px;
        margin-left: auto;
    }

    .app-aside-folded .navi > ul > li > ul {
        right: 100%;
        left: auto;
    }

    .app-aside-fixed .aside-wrap {
        right: inherit;
        bottom: 0;
        left: auto;
    }

    .app-aside-folded.app-aside-fixed .app-aside > ul.nav {
        right: 60px;
        left: auto;
    }

        .app-aside-folded.app-aside-fixed .app-aside > ul.nav:before {
            right: -60px;
            left: auto;
        }

    .app-aside-folded:not(.app-aside-dock) .navi ul.nav li a > i {
        margin: 0;
    }

    .app-aside-dock .app-aside nav > .nav {
        float: right;
    }

    .app-aside-dock .app-aside .navi > ul > li {
        float: right;
    }

        .app-aside-dock .app-aside .navi > ul > li .nav-sub {
            right: 0;
            left: auto;
        }
}

@media (max-width: 767px) {
    .off-screen + * {
        -webkit-transform: translate3d(-75%, 0, 0px);
        transform: translate3d(-75%, 0, 0px);
    }
}

.streamline {
    border-right-style: solid;
    border-right-width: 1px;
    border-left-width: 0;
}

    .streamline .sl-item:after,
    .streamline:after {
        right: 0;
        left: auto;
        margin-right: -5px;
    }

    .streamline .m-l-n-md {
        margin-right: -20px;
    }

    .streamline .arrow.left {
        top: 50%;
        right: -9px;
        margin-top: -9px;
        border-left-color: rgba(0, 0, 0, 0.1);
        border-right-width: 0;
        border-left-width: 9px;
    }

        .streamline .arrow.left:after {
            right: 1px;
            bottom: -8px;
            border-left-color: #ffffff;
            border-right-width: 0;
            border-left-width: 8px;
        }

.sl-item.b-l {
    margin-right: -1px;
    border-right-style: solid;
    border-right-width: 1px;
    border-left-width: 0;
}

.tl-wrap {
    padding: 15px 20px 15px 0;
    margin-right: 6em;
    margin-left: 0;
    border-width: 0 4px 0 0;
}

    .tl-wrap:before {
        float: right;
        margin-right: -27px;
    }

.timeline-center .tl-item {
    margin-right: 50%;
    margin-left: 0;
}

.timeline-center .tl-wrap {
    margin-right: -2px !important;
}

.tl-date {
    float: right;
    margin-right: -7.5em;
    text-align: left;
}

.i-checks > i {
    margin-right: -20px;
    margin-left: 4px;
}

.nav-tabs > li > a {
    margin-right: 0;
}

.settings {
    right: auto;
    left: -240px;
}

    .settings .btn {
        right: -42px;
        left: auto;
        border-right-width: 1px;
        border-left-width: 0;
    }

    .settings.active {
        right: auto;
        left: -1px;
    }

.btn-addon i {
    float: right;
    margin-right: -10px !important;
    margin-left: 10px !important;
}

.btn-addon.btn-xs i {
    margin-right: -5px !important;
    margin-left: 5px !important;
}

.catagorytreeView li span.TreeView_collapsdBtn_con > span {
    margin-left: 0px !important;
    margin-right: -30px !important;
}

.catagorytreeView li li {
    margin-left: -10px;
    margin-right: 10px !important;
    border-left: none !important;
    border-right: solid 2px rgba(255, 255, 255, 0.6);
}

.fa-arrow-left:before {
    content: "\f061";
}

@font-face {
    font-family: 'Cocon';
    src: url('fonts/Cocon-Light.otf');
}

@font-face {
    font-family: "HelveticaNeueReg";
    src: url("fonts/HelveticaNeueW23forSKY-Reg_T02.eot");
    src: url("fonts/HelveticaNeueW23forSKY-Reg_T02.eot?#iefix") format("embedded-opentype"), url("fonts/HelveticaNeueW23forSKY-Reg_T02.woff") format("woff"), url("fonts/HelveticaNeueW23forSKY-Reg_T02.ttf") format("truetype"), url("fonts/HelveticaNeueW23forSKY-Reg_T02.svg#HelveticaNeueW23forSKY-Reg_T02") format("svg");
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: HelveticaNeueReg;
}

    body > .app {
        direction: rtl;
    }

.reqest-id {
    float: left;
}

.panel-group .accordion-toggle[aria-expanded='true']:after, .panel-group .accordion-toggle[aria-expanded='false']:after {
    float: left;
}

.fa-arrow-right:before {
    content: "\f060";
}

.ng-touched.ng-valid-validation {
    border-right-color: #27c24c;
    border-left: solid 1px #cfdadd;
    border-right-width: 3px;
}

.ng-touched.ng-invalid-validation {
    border-left: solid 1px #cfdadd;
    border-right-color: #cc0000;
    border-right-width: 3px;
}

.ng-touched.ng-valid-validation.ng-invalid {
    border-left: solid 1px #cfdadd;
    border-right-color: #cc0000;
    border-right-width: 3px;
}

.list-group-item label {
    text-align: right;
    float: right;
}

.hide-ar {
    display: none !important;
}

.hide-en {
    display: block !important;
}

#header.bg-echannels {
}

.footer {
    direction: rtl;
    text-align: right;
}

    .footer .footer-middle .social-icons {
        float: right;
    }

        .footer .footer-middle .social-icons li {
            float: right;
        }

.bottomHeader marquee span, .bottomHeader .marqueetitle {
    float: right;
}

.fa-arrow-circle-right:before {
    content: '\f0a8';
}

@media (max-width: 767px) {
    body .topheader > .dropdown {
        float: right !important;
        margin: 10px 0;
    }

    body .topheader .navbar-left {
        left: auto;
        right: 0;
    }

    body .topheader .navbar-right {
        margin: 15px 0;
    }

        body .topheader .navbar-right li a {
            box-shadow: none;
        }

    body .mainnav .navbar-nav {
        text-align: right;
    }
}

.footer .footer-top a {
    border-left: solid 1px #383838;
    border-right: none;
}

.fa-angle-double-right:before {
    content: "\f100";
}

.glyphicon-chevron-right:before {
    content: "\e079";
}

.glyphicon-chevron-left:before {
    content: "\e080";
}

.ml10 {
    margin-right: 10px;
    margin-left: 0;
}

.paginationselect {
    float: left;
}

.select-page {
    text-align: center;
}

.text-size-slider span.small-letter {
    float: right;
}

.text-size-slider span.big-letter {
    float: left;
}

.help-section.helpsection > div > ul > li:before, .help-section > li > ul > li:before {
    content: "\f100";
}

.help-section > li > ul > li ul {
    margin: 0px 30px 0 0px;
}

.gm-style > div > div > div > div > div {
    right: auto !important;
    left: 12px;
}

.sliderSection .carousel-indicators {
    left: 50%;
    right: auto;
}

.sliderSection .glyphicon-chevron-right:before {
    content: "\e080";
}

.sliderSection .glyphicon-chevron-left:before {
    content: "\e079";
}

.servicebox .serviceb .startnow {
    right: 15px;
    left: auto;
}

.carousel-control .icon-next, .carousel-control .glyphicon-chevron-right {
    left: 50%;
    right: auto;
}

.ng-not-empty.ng-valid-validation.ng-valid {
    border-right-color: #27c24c;
    border-left: solid 1px #cfdadd;
    border-right-width: 3px;
}

.ng-invalid-validation:empty, .ng-empty.ng-invalid-validation {
    border-left: solid 1px #cfdadd;
    border-right-color: #cc0000;
    border-right-width: 3px;
}

.wizard-step0:after {
    display: none !important;
}

.wizard-step0:before {
    display: block !important;
}

#status-buttons a:last-child:after {
    display: block !important;
}

#status-buttons a:last-child:before {
    display: none !important;
}

.input-group-addon:first-child {
    border: solid 1px #cfdadd;
}

.countrycode-group .input-group-addon, .countrycode-group input {
    border-bottom-right-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-top-left-radius: 0px !important;
}

.countrycode-group {
    direction: ltr;
    text-align: left;
}

    .countrycode-group .validation {
        direction: rtl;
        text-align: right;
    }

.modal-title, .modal-body {
    text-align: right;
}

.countrycode-group ::-webkit-input-placeholder {
    text-align: right;
    padding: 0 12px;
}

.countrycode-group :-moz-placeholder { /* Firefox 18- */
    text-align: right;
    padding: 0 12px;
}

.countrycode-group ::-moz-placeholder { /* Firefox 19+ */
    text-align: right;
    padding: 0 12px;
}

.countrycode-group :-ms-input-placeholder {
    text-align: right;
    padding: 0 12px;
}

.landingServices .servicebox:before {
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1);
}

.landingServices .servicedatails ul li i {
    margin-left: 5px;
    margin-right: 0;
}

.footer .footer-top a {
    float: right;
}

.dashoboardpage .dashboardcontrols .dash-section .icondiv {
    border-width: 0 0 1px 1px;
}

.pa-r-35 {
    padding-left: 35px;
    padding-right: 0;
}

.filenumbersection:after {
    content: "/";
    display: block;
    position: absolute;
    left: -5px;
    right: auto;
    top: 10px;
}

.tooltip, .popover {
    font-family: 'Cocon';
}

.topheader .fa-clock-o {
    float: right;
    vertical-align: middle;
    margin: 4px 0 0 4px;
}

.select2-container {
    border: solid 1px #cfdadd;
}

.validation .select2-container.ng-valid.ng-empty {
    border-width: 1px 3px 1px 1px !important;
    border-right-color: #cc0000;
    border-left-color: #cfdadd;
    border-style: solid;
}

.validation .select2-container.ng-valid.ng-not-empty {
    border-width: 1px 3px 1px 1px !important;
    border-right-color: #27c24c;
    border-left-color: #cfdadd;
    border-style: solid;
}

.select2-search:after {
    right: auto !important;
    left: 10px
}

.select2-result-single {
    padding-right: 0;
}

.select2-container .select2-choice .select2-arrow {
    right: auto !important;
    left: 0;
}

.select2-container .select2-choice > .select2-chosen {
    margin-right: 0 !important;
    margin-left: 26px;
}

.select2-container .select2-choice .select2-chosen button {
    right: auto !important;
    left: 13px;
}

.selector-container.multiple input, .selector-container.multiple .selector-values > li {
    float: right
}

.selector-dropdown > li {
    text-align: right;
}

.selector-helper {
    right: auto;
    left: 0;
}

.selector-container.multiple .selector-values > li {
    padding: 0.087em .2em 0 1em !important;
}

.selector-container.multiple input {
    padding: 0.087em .1em 0 0.0em !important;
}

.uib-datepicker-popup.dropdown-menu {
    left: auto !important;
}

.questions .special-padding-row {
    padding-left: 0px;
    padding-right: 29px;
}

.questions .input-group-radio .input-group-addon:before, .questions .input-group-checkbox .input-group-addon:before {
    left: auto;
    right: 0;
}

.serveySection {
    left: auto;
    right: 15px;
}

.selector-container.multiple input, .selector-container.multiple .selector-values > li {
    text-align: right;
}

.landingServices .servicedatails.service1 {
    background-position: 70px bottom;
}

.box-selected .label-cont.activetrue:before {
    left: auto;
    right: 17px;
}

#header.bg-echannels .mainnav > ul li a:after {
    right: auto;
    left: -1px;
}

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
    /* Hide table headers (but not display: none;, for accessibility) */
    .table thead tr {
        left: -9999px;
    }

    .table tbody td {
        padding-left: 0 !important;
        padding-right: 50% !important;
        max-width: 100%;
    }

        .table tbody td:before {
            /* Now like a table header */
            left: auto;
            right: 6px;
            padding-right: 0;
            padding-left: 10px;
        }

    .topheader .nav > li {
        float: right;
    }

    .table-static.table tbody td {
        padding-right: 8px !important;
    }
}

#header .navbar-header {
    float: left;
    direction: ltr;
    width: 100%;
}

#header.bg-echannels .menu-profile > li {
    float: right !important;
}

.cropbtns .btn-group {
    float: right;
}

.fixeddirection label {
    float: right;
}

.navbar-brand {
    float: none !important
}

.mr0-10 {
    margin: 0 0px 0 10px;
}

.bottomHeader marquee {
    width: calc(100% - 7em);
}

.stepNav li {
    float: right;
}

.stepNav {
    margin: 30px 20px 30px 26px;
    padding-right: 20px;
}
    /* step links */
    .stepNav a, .stepNav a:visited {
        padding: 0 25px 0 0px;
        border-left: 0;
        border-right: 0px solid #cbcbcb;
        float: right;
    }

    .stepNav li:first-child a {
        padding-right: 12px;
        padding-left: 0;
        border-right: 1px solid #cbcbcb;
    }

    .stepNav a:before {
        border-right: 0px solid #dddddd;
        border-left: 1px solid #dddddd;
        right: auto;
        left: -16px;
        box-shadow: 0 0 0 1px #ddd;
        -moz-box-shadow: 0 0 0 1px #ddd;
        -webkit-box-shadow: 0 0 0 1px #ddd;
    }

    .stepNav li:first-child a:before {
        left: -13px;
    }

    .stepNav li.selected a:before {
        border-right: 0px solid #bebebe;
    }

    .stepNav li.selected a {
        -webkit-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.12);
        -moz-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.12);
        box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0.12);
    }

.spinnershow .ui-select-search.select2-input {
    background: #fff url(select2-spinner.gif) no-repeat 100%;
    background: url(../images/autospiner.gif) no-repeat 100%, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, #fff), color-stop(0.99, #eee));
    background: url(../images/autospiner.gif) no-repeat 100%, -webkit-linear-gradient(center bottom, #fff 85%, #eee 99%);
    background: url(../images/autospiner.gif) no-repeat 100%, -moz-linear-gradient(center bottom, #fff 85%, #eee 99%);
    background: url(../images/autospiner.gif) no-repeat 100%, linear-gradient(to bottom, #fff 85%, #eee 99%) 0 0;
    background-position: left 20px center;
}

.visa-digram .text-center span img {
    filter: FlipH;
    -ms-filter: "FlipH";
    -moz-transform: scaleX(1);
    -o-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.help-section.helpsection.lefthelpsection > div > ul > li > a:before, .lefthelpsection > div > ul > li > ul > li a:before {
    content: "\f100";
}

.estcardnumber .form-control.col-xs-3, .estcardnumber .form-control.col-xs-8, .estcardnumber .sep-dash.col-xs-1 {
    float: left
}

.attchment-note i:before {
    margin-left: 5px;
    margin-right: 0
}

tags-input .tags .tag-item {
    float: right !important
}

.list-tags-review li {
    border-right: none;
    border-left: solid 1px #ddd;
}

.favorite_services table tr {
    text-align: right;
}

    .favorite_services table tr td p:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        content: "\f0a8";
        margin-left: 5px;
        margin-right: 0;
    }

.countrycode-group tahaluf-dropdownlist.validation .select2-container .select2-results .select2-result-label {
    text-align: right
}

.selectize-control.single .selectize-input:after {
    right: auto;
    left: 20px;
}

.countrycode-addon country-code tahaluf-dropdownlist .hide-input {
    position: absolute;
    left: auto;
    right: 0;
    border: 0;
}

.service-address .servicesboxs .directionmap i {
    border-right: solid 1px #d5d5d5;
    border-left: solid 0px #d5d5d5;
    padding-right: 15px;
    padding-left: 0;
}

.link-logout {
    border-left: solid 0px #e6e6e6;
    border-right: solid 1px #e6e6e6;
}

.ng-touched.ng-valid-validation.ng-empty {
    border-right-width: 1px;
    border-right-color: #ccc !important;
}

.directionltr {
    direction: ltr;
    display: inline-block;
}

@media (max-width: 768px ) {
    .navbar-nav .open .dropdown-menu {
        text-align: right !important;
        left: 0 !important;
        right: -30px !important;
    }
}

.watermark_format {
    position: absolute;
    z-index: 9;
    left: 45px;
    right: auto;
    top: 11px;
    font-size: 10px;
    color: #b1b1b1;
    display: inline-block;
    border-right: solid 1px #ddd;
    border-left: none;
    padding-right: 10px;
    padding-left: 0;
}

.col-md-3.wrapper.bg-white .btn-str-ser:before {
    content: "\f100";
    font-family: FontAwesome;
    margin-right: -10px;
    margin-left: 0;
    padding-left: 5px;
    padding-right: 0;
}

.col-md-3.wrapper.bg-white .btn-str-ser {
}

    .col-md-3.wrapper.bg-white .btn-str-ser:before {
        margin-left: 5px;
        padding-right: -10px;
    }

.download-scan {
    float: left;
    font-weight: bold;
}

.select-scantype {
    float: none;
    padding: 10px;
    text-align: left
}

    .select-scantype input {
        margin-left: 5px;
    }

#header.bg-echannels .mainnav > ul li.pull-right a.active {
    border-left: solid 1px #fff;
    border-right: none;
}

.landingServices .servicebox.servicebox1:before {
    background-position: left -18px top !important;
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1);
}

.bottomHeader marquee p span, .bottomHeader marquee p {
    float: left !important;
    float: none !important\9;
    margin: 2px 0 0 0 !important;
}

@supports (-ms-ime-align:auto) {
    .bottomHeader marquee p span, .bottomHeader marquee p {
        float: none !important;
    }
}

.popbox-body {
    text-align: right;
    margin: 20px 0;
}

.popbox-footer {
    text-align: right;
}

.approvesrequestdiv a .fa {
    float: left !important;
    margin-left: -12px !important;
    margin-right: 10px !important;
}

.ratingbox.box_srv ul li {
    border-right: none;
    border-left: solid 1px #ddd;
    text-align: center;
}

    .ratingbox.box_srv ul li:last-child {
        border: none;
    }

.ftrlogouaegov {
    width: 100%;
    height: 60px;
    background: #fff url(../images/government-ae-logo-arabic.png) no-repeat center center;
    background-size: 85%;
}

.show-ar {
    display: block !important;
}

.list_btns .btn {
    border-right: none;
    border-left: solid 1px #ddd;
}

flag_span {
    left: auto;
    right: 10px;
}
/* chat*/
#chatForm h3 {
    text-align: right;
}

#chatForm table input {
    text-align: right;
}

.globl_icn .fa {
    margin-left: auto;
    margin-right: 5px;
}

.div_table_view .col-xs-3, .div_table_view .col-xs-2, .div_table_view .col-xs-4 {
    border-right: none;
    border-left: solid 1px #ddd;
}

.text-rt {
    float: right !important;
}
/*body .ratebox {
    right: auto !important;
    left: -50px !important;
    text-align: right !important;
}
    body .ratebox:hover {
        right: auto !important;
        left: 0 !important;
    }
.ratebox i {
    float: right !important;
    margin-right: 0 !important;
    margin-left: 10px !important;
}*/
tahaluf-attachments-viewer > ol li span.count_status {
    margin-left: 10px;
    margin-right: 0;
}

tahaluf-attachments-viewer > ol li .text-info {
    float: left;
}

.ratebox {
    width: 170px;
}

.navbar-nav.cards_ul li a:after {
    left: 0;
    right: auto;
}

tahaluf-image-crop * {
    direction: ltr !important;
}

/* Login Service Theme 1 */
.loginService {
    border-right: solid 2px rgba(152, 111, 47, 0.7);
    border-left: none;
}

.modal-dialog {
    text-align: right;
}

.container-checkbox {
    padding-left: 0;
    padding-right: 25px;
}

    .container-checkbox .checkmark {
        left: auto;
        right: 0;
    }



.speech-bubble {
    position: relative;
    background: #e6eaea;
    border-radius: .4em;
    line-height: 50px;
}

    .speech-bubble:after {
        content: '';
        position: absolute;
        right: 0;
        top: 50%;
        width: 0;
        height: 0;
        border: 20px solid transparent;
        border-left-color: #e6eaea;
        border-right: 0;
        border-bottom: 0;
        margin-top: -10px;
        margin-right: -20px;
    }

label {
    text-align: right;
}

.show-hide-pass {
    right: auto;
    left: 9px;
}



/*new dashboard*/
.dashboard_radios span {
    display: inline-block;
    padding-left: 0;
    margin-left: 0;
    padding-right: 10px;
    margin-right: 10px;
}

    .dashboard_radios span input {
        margin-left: 5px;
        margin-right: 0;
        vertical-align: middle
    }

.box-newdashboard-title {
    padding-right: 0;
    padding-left: 20px;
}

.star-fav-item {
    right: auto;
    left: 2px
}

.info-fav-item {
    right: auto;
    left: 20px
}

.save-edit-wrapper {
    left: 0;
    right: auto;
}

.delete-dashbord-item-wrapper {
    left: 8px;
    right: auto
}

.close-child-services {
    right: auto;
    left: 0;
}

@media only screen and (max-width: 760px), (max-device-width: 1024px) and (min-device-width: 768px) {
    .table tbody td {
        padding-left: 0;
        padding-right: 0;
    }
}

.child-services-table tr td {
    padding: 5px 5px 5px 20px !important;
}

.mr-5px {
    margin-left: 5px;
}


.sponsored-menu {
    right: 2px;
    left: auto;
}

.wrapper-menu {
    right: 0;
    left: auto;
}

.wrapper-level-2 {
    right: 160px;
}

.fa-chevron-right:before {
    content: "\f053";
}

.wrapper-level-13 {
    left: -135px;
}

.sponsored-box .card-title {
    padding-right: 40px;
    padding-left: 0;
}

.circle-menu-toggle {
    padding: 7px;
}

#nav li a:active + ul.dd, #nav li a:focus + ul.dd, #nav li ul.dd:hover, #nav li a:hover + ul.dd {
    left: auto;
    right: 0;
}

#nav ul.dd li a:active + ul, #nav ul.dd li a:focus + ul, #nav ul.dd li ul:hover, #nav ul.dd li a:hover + ul {
    left: auto;
    right: 132px;
}

.personDocuSection .carousel-indicators {
    direction: rtl !important;
}

.estcardnumber .ltrinput, .estcardnumber .sep-dash {
    float: right;
}

.show-hide-pass.custom-icon {
    position: absolute;
    top: 32px;
    left: 30px;
    right: auto;
}


.qr-code-box-overly {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 200px;
    height: 200px;
    transition: .5s ease;
    opacity: 0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 0px 5px 5px #ccc;
}

.qr-code-box {
    width: 200px;
    height: 200px;
    box-shadow: 0px 0px 5px 5px #ccc;
}

.active {
    color: rgba(152, 111, 47, 0.7);
}

.hrTab {
    border-top: 3px solid rgba(152, 111, 47, 0.7) !important;
}

.tab-item {
    cursor: pointer;
}

.outDated {
    opacity: 0.2;
}


.QR-Refersh {
    position: absolute;
    top: 40%;
    left: 45%;
    z-index: 99;
    cursor: pointer;
    color: #000;
}
