@model TaskMain_VM
@{
    ViewData["Title"] = "ReceviceTask";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
 
    <!-- Example Tab -->
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                       Recive Task 
                        <small>Add quick, dynamic tab functionality to transition through panes of local content</small>
                    </h2>
                    <ul class="header-dropdown m-r--5">
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">more_vert</i>
                            </a>
                            <ul class="dropdown-menu pull-right">
                                <li><a href="javascript:void(0);">Action</a></li>
                                <li><a href="javascript:void(0);">Another action</a></li>
                                <li><a href="javascript:void(0);">Something else here</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="body">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs tab-nav-right" role="tablist">
                        <li role="presentation" class="active"><a href="#home" data-toggle="tab">Task Details</a></li>
                        <li role="presentation"><a href="#profile" data-toggle="tab">Task History</a></li>
                        <li role="presentation"><a href="#messages" data-toggle="tab">Task Action</a></li>
                        <li role="presentation"><a href="#settings" data-toggle="tab">SETTINGS</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="home">
                            <b>Task Details</b>
                            <p>Task Receive From User 1 </p>
                            <label>Receive Date </label>
                            <p>12/2/2023 </p>
                            <label>Due Date </label>
                            <p>12/3/2023 </p>
                            <label>Task Name </label>
                            <p>Name Of Task </p>

                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="profile">
                            <b>Profile Content</b>
                            <p>
                                Lorem ipsum dolor sit amet, ut duo atqui exerci dicunt, ius impedit mediocritatem an. Pri ut tation electram moderatius.
                                Per te suavitate democritum. Duis nemore probatus ne quo, ad liber essent aliquid
                                pro. Et eos nusquam accumsan, vide mentitum fabellas ne est, eu munere gubergren
                                sadipscing mel.
                            </p>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="messages">
                            <b>Message Content</b>
                            <p>
                                Lorem ipsum dolor sit amet, ut duo atqui exerci dicunt, ius impedit mediocritatem an. Pri ut tation electram moderatius.
                                Per te suavitate democritum. Duis nemore probatus ne quo, ad liber essent aliquid
                                pro. Et eos nusquam accumsan, vide mentitum fabellas ne est, eu munere gubergren
                                sadipscing mel.
                            </p>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="settings">
                            <b>Settings Content</b>
                            <p>
                                Lorem ipsum dolor sit amet, ut duo atqui exerci dicunt, ius impedit mediocritatem an. Pri ut tation electram moderatius.
                                Per te suavitate democritum. Duis nemore probatus ne quo, ad liber essent aliquid
                                pro. Et eos nusquam accumsan, vide mentitum fabellas ne est, eu munere gubergren
                                sadipscing mel.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- #END# Example Tab -->
    <!-- Tabs With Only Icon Title -->
    <!-- #END# Tabs With Only Icon Title -->
    <!-- Tabs With Icon Title -->
    <!-- #END# Tabs With Icon Title -->
    <!-- Tabs With Material Design Colors -->
    <!-- #END# Tabs With Material Design Colors -->
    <!-- Tabs With Custom Animations -->
    <!-- #END# Tabs With Custom Animations -->
</div>
