@model RequestAction_VM
@{
    ViewData["Title"] = "CreateRequest";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    Create Request

                </h2>
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="javascript:void(0);">Action</a></li>
                            <li><a href="javascript:void(0);">Another action</a></li>
                            <li><a href="javascript:void(0);">Something else here</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body">
                <form asp-action="CreateRequest" asp-controller="RequestMangment" enctype="multipart/form-data" class="form-horizontal">
                    <div class="row clearfix">

                        <div class="col-sm-4">
                            <label class="form-label">Start Date</label>
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="datetime-local" asp-for="DateOfStartRequest" name="DateOfStartRequest" class="datepicker form-control" required="" aria-required="true" placeholder="Please choose a date...">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <label class="form-label">End Date</label>
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="datetime-local" asp-for="DateOfEndtRequest" name="DateOfEndtRequest" class="datepicker form-control" required="" aria-required="true" placeholder="Please choose a date...">
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-sm-4">
                            <label class="form-label">Request Name</label>
                            <div class="form-group">
                                <div class="form-line">
                                    <select class="form-line" id="RequetDataID" name="RequetDataID" required asp-for="RequetDataID" aria-required="true" asp-items="@(new SelectList( ViewBag.SelectRequest,"ID","RequestName"))">
                                        <option disabled=""> -- Please select Type --</option>
                                    </select>

                                </div>
                            </div>
                        </div>
                        

                      
                    </div>

                    <div class="row clearfix">
                      


                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-12">

                            <div class="form-group">
                                <label class="form-label">Request Note</label>
                                <div class="form-line">
                                    
                                    <textarea asp-for="Note" name="Note" cols="30" rows="5" class="form-control no-resize" required="" aria-required="true"></textarea>

                                </div>
                            </div>
                        </div>


                    </div>

                   


                    <button class="btn btn-primary waves-effect" type="submit">SUBMIT</button>
                </form>
            </div>
        </div>
    </div>
</div>



