@model RequirementsVM
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item text-uppercase"><a asp-action="Index" asp-controller="Dashboard">Dashboard</a></li>
                 <li class="breadcrumb-item text-uppercase"><a asp-action="Index" asp-controller="Requirements">Requirements</a></li>
              <li class="breadcrumb-item text-uppercase active">Delete Requirements</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

     <div class="card">
  <div class="card-header">
      <h3 class="text-uppercase">Edit Requirements</h3>
  </div>
  <div class="card-body">
      <form asp-action="Delete" asp-controller="Requirements" enctype="multipart/form-data" class="form-horizontal">
        
          <div class="row">
             <div class="col-md-6">
                <div class="form-group">
                    <label for="RequirementName_Arabic"  class="control-label">Requirements Name Arabic</label>
                    <input disabled asp-for="RequirementName_Arabic" required class="form-control" />
                    <span asp-validation-for="RequirementName_Arabic" class="text-danger"></span>
                </div>
            </div>
            
             <div class="col-md-6">
                <div class="form-group">
                    <label for="TransactionNameEnglish"  class="control-label">Requirements Name English</label>
                    <input disabled asp-for="RequirementName_English" required id="RequirementName_English" class="form-control" />
                    <span asp-validation-for="RequirementName_English" class="text-danger"></span>
                </div>
            </div>
          </div>
           <hr />
        
           <hr />
          <div class="form-group">
              <input type="submit" value="Delete" class="btn btn-sm btn-primary rounded-0" />
              
              <a asp-action="Index"  asp-controller="Requirements" class="btn btn-sm btn-primary rounded-0">Back to List</a>
          </div>
      </form>
  </div>
</div>


 @section Scripts{

           @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }















