@model ApplicationTransaction_RequestVM
@{
    ViewData["Title"] = "CreateManualTransAction";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1></h1>

<div class="card">
    <div class="card-header">
        <h3 class="text-uppercase">Create Manual Request</h3>
    </div>
    <div class="card-body">
        <form asp-action="CreateManualTransAction" asp-controller="ApplicationTransaction_Request" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                         <label  for="Move_Type">Select Request Type </label>
                          
                            <select asp-for="Move_Type" class="form-control" id="sel1">
                             <option disabled>Select Type</option>
                             <option value="1">Email</option>
                             <option value="2">Phone</option>
                             <option value="3">What's App</option>
                             </select>
                        <span asp-validation-for="Move_Type" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                         <label>Sub Services</label>
                        <div class="form-group">
                             <select class="form-control select2bs4"  style="width: 100%;" asp-for="TransiactionItem_Code" asp-items="@ViewBag.selectsubservices">
                              <option disabled> Select Sub Services</option>
                             </select>
                            
                        </div>
                        <span asp-validation-for="TransiactionItem_Code" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="ClientName" class="control-label">First Name</label>
                        <input asp-for="ClientName" class="form-control" />
                        <span asp-validation-for="ClientName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="ClientLastName" class="control-label">Last Name</label>
                        <input asp-for="ClientLastName"  class="form-control" />
                        <span asp-validation-for="ClientLastName" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="ClientPhone" class="control-label">Client Phone</label>
                        <input asp-for="ClientPhone" class="form-control" />
                        <span asp-validation-for="ClientPhone" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="UserEmail" class="control-label">Email</label>
                        <input type="email" asp-for="UserEmail" class="form-control" />
                        <span asp-validation-for="UserEmail" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="files_Upload" class="control-label">files Upload</label>
                        <input type="file" class="form-control" asp-for="files_Upload" id="logo"  aria-describedby="emailHelp" placeholder="LOGO">
                        
                        <span asp-validation-for="files_Upload" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-sm btn-primary rounded-0" />
                <a asp-action="Index" class="btn btn-sm btn-primary rounded-0">Back to List</a>
            </div>
        </form>
    </div>
</div>

 @section Scripts{
    
@*<script src="~/lib/Jquerydatatable/bootstrap-datepicker.min.js"></script>*@


   <script>

       function format(d) {
    // `d` is the original data object for the row
    return (
        '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">' +
        '<tr>' +
        '<td>Full name:</td>' +
        '<td>' +
        d.name +
        '</td>' +
        '</tr>' +
        '<tr>' +
        '<td>Extension number:</td>' +
        '<td>' +
        d.extn +
        '</td>' +
        '</tr>' +
        '<tr>' +
        '<td>Extra info:</td>' +
        '<td>And any further details here (images etc)...</td>' +
        '</tr>' +
        '</table>'
    );
}
$(document).ready( function () {
 //Initialize Select2 Elements
    $('.select2').select2()

    //Initialize Select2 Elements
    $('.select2bs4').select2({
      theme: 'bootstrap4'
    })




  
  
  
  });
</script>
}

