@model FinishApplicationVM
@{
    ViewData["Title"] = "FinishApplication";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Apllication Sent </h1>
        <div class="form-group">
            <label for="ClientName"> Your Application Number </label>
            <label> @Model.App_ID</label>
             
        </div>
         <div class="form-group">
            <label for="ClientName"> Your Name  </label>
            <label> @Model.ClientName</label>
             
        </div>

       <p>Thank You </p>
       <a href="/Home" class="btn btn-warning">Back To Home Page</a>


