@using GSI_Internal.Entites

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@*@model GSI_Internal.Areas.Identity.Pages.Account.Manage.IndexModel*@
@model GSI_Internal.Areas.Identity.Pages.Account.Manage.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";

    var ReturnUrl = $"~{Context.Request.Path.Value}";
}

<div class="aon-admin-heading">
    <h4>Edit Profile</h4>
</div>
<form asp-area="Identity" asp-page="/Account/Manage/Index" method="post" asp-route-ReturnUrl="@ReturnUrl">
    @*  <partial asp-area="Identity" name="_StatusMessage" for="StatusMessage" />*@
    <div class="card aon-card">
        <div class="card-header aon-card-header"><h4><i class="fa fa-user"></i> About me</h4></div>
        <div class="card-body aon-card-body">
            <div class="row">
                <div class="col-xl-6">
                    <div class="aon-staff-avtar">
                        <div class="aon-staff-avtar-header">
                            <div class="aon-pro-avtar-pic ">
                                <img src="images/pic-large.jpg" alt="">
                                <button class="admin-button has-toltip">
                                    <i class="fa fa-camera"></i>
                                    <span class="header-toltip">Upload Avtar</span>
                                    <input type="file" name="avtar">
                                </button>
                            </div>
                            <div class="aon-pro-cover-wrap">
                                <div class="aon-pro-cover-pic">
                                    <img src="images/banner/job-banner.jpg" alt="">
                                </div>
                                <div class="admin-button-upload">
                                    <span>Upload Cover Image</span>
                                    <input type="file" name="avtar">
                                </div>
                            </div>
                        </div>
                        <div class="aon-staff-avtar-footer">
                            <h4 class="aon-staff-avtar-title">Upload Your Avatar</h4>
                            <ul>
                                <li>Min width and height: <span>600 x 600 px</span></li>
                                <li>Max Upload Size: <span>512MB</span></li>
                                <li>Extensions: <span>JPEG,PNG,GIF,PNG</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Username</label>
                                <div class="aon-inputicon-box">
                                    <input asp-for="Username" class="form-control sf-form-control" name="company_name" type="text">
                                    <i class="aon-input-icon fa fa-user"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>First Name</label>
                                <div class="aon-inputicon-box">
                                    <input asp-for="FirstName" class="form-control sf-form-control" name="FirstName" type="text">
                                    <i class="aon-input-icon fa fa-building-o"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Last Name</label>
                                <div class="aon-inputicon-box">
                                    <input asp-for="LastName" class="form-control sf-form-control" name="LastName" type="text">
                                    <i class="aon-input-icon fa fa-user"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>PhoneNumber</label>
                                <div class="aon-inputicon-box">
                                    <input asp-for="PhoneNumber" class="form-control sf-form-control" name="PhoneNumber" type="text">
                                    <i class="aon-input-icon fa fa-user"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 breck-w1400">
                            <div class="form-group">
                                <button type="submit" class="btn btn-outline-success">Edit Personal Data</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            
          
        </div>
    </div>
    <div class="row">
        <div class="col-xl-6">
            <div class="form-group">
                <button class="btn btn-outline-secondary" asp-controller="ClientProfile" asp-action="ChangeClientEmail">Change Email</button>
            </div>
            <div class="form-group">
                <button class="btn btn-outline-secondary" asp-controller="ClientProfile" asp-action="ChangeClientPassword">Change Email</button>
            </div>
        </div>
    </div>
</form>





