@model IEnumerable<TransactionItemInquiryVM>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item text-uppercase"><a asp-action="Index" asp-controller="Dashboard">Dashboard</a></li>
                 
                    <li class="breadcrumb-item text-uppercase active">Sub Services Inquiry</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<a asp-action="Create" asp-controller="TransactionItemInquiry" class="btn btn-primary">Add New Sub Services Inquiry</a>
<br />
<br />
<table class="table">
    <thead>
    <tr>
        <th>#</th>
        <th>Requirement Name Arabic</th>
        <th>Requirement Name English</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    @{ int rowNo = 0; }
    @foreach (var item in Model)
    {
        <tr>
            <td>  @(rowNo += 1)</td>
            <td>@item.InquiryName_Arabic</td>
            <td>@item.InquiryName_English</td>
            <td><a href="/TransactionItemInquiry/Edit/@item.ID" class="btn btn-warning">Edit</a></td>
            <td><a href="/TransactionItemInquiry/Delete/@item.ID" class="btn btn-danger">Delete</a></td>
        </tr>
    }
    </tbody>
</table>


