@model EosCalcView
@{
    ViewData["Title"] = "EosCalculation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-wrapper">

<!-- Preloader -->
    
<!--End Main Header -->
<!-- Contact Section -->
<section class="contact-section">
    <div class="auto-container">
        <div class="sec-title text-center">
            <h2>Account receivables</h2>
            <span class="divider"></span>
        </div>

        <div class="row">
            <!-- Map Column -->
            <div class="contact-column col-lg-8 col-md-12 col-sm-12 m-auto">
                <!-- Contact Widget -->
                <div class="contact-widget ls-widget">
                    <div class="widget-content">
                        <!-- Comment Form -->
                        <div class="default-form">
                            <!--Comment Form-->
                            <form asp-action="EosCalculation" asp-controller="Home" as enctype="multipart/form-data" class="form-horizontal">

                                <div class="row clearfix ">
                                    <div class="form-group col-lg-12 col-md-12 col-sm-12">
                                        <div class="response"></div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                        <label for="">Select Type

                                        </label>

                                        <select name="MoveType" asp-for="MoveType" class="form-control" >
                                            <option> Select Type of Account</option>
                                            <option selected value="1">End Services</option>
                                            <option value="2">Termination</option>
                                            <option value="3">cancellation</option>
                                        </select>

                                        
                                    </div>
                                    <div class="col-lg-6 col-md-12 col-sm-12 form-group">
                                        <label for=""> Joining Date</label>
                                            <input asp-for="JoiningDate" type="date" name="JoiningDate" class="subject"
                                               placeholder="Choose Joining Date">
                                    </div>
                                    <div class="col-lg-6 col-md-12 col-sm-12 form-group">
                                        <label for="">Ending Date</label>
                                            <input asp-for="EndingDate" type="date" name="EndingDate" class="subject"
                                               placeholder="Choose Ending Date">
                                    </div>

                                    <div class="col-lg-6 col-md-12 col-sm-12 form-group">
                                        <label for=""> Basic Salary</label>
                                            <input asp-for="BasicSalary" type="number" name="BasicSalary" class="text" placeholder="Exa :20000" required>
                                    </div>
                                    <div class="col-lg-6 col-md-12 col-sm-12 form-group">
                                        <label for=""> Other Allowance</label>
                                            <input asp-for="OtherAllowance" type="number" name="OtherAllowance" class="subject"
                                               placeholder="Eax : 80000" required>
                                    </div>

                                    <div class="col-lg-6 col-md-12 col-sm-12 form-group">
                                        <label for="">Number Of Unpaid Leave Days

                                        </label>
                                            <input asp-for="NumberOfUnpaidLeaveDays" type="number" name="NumberOfUnpaidLeaveDays" class="subject"
                                               placeholder="Exa : 12 " required>
                                    </div>
                                    <div class="col-lg-6 col-md-12 col-sm-12 form-group">
                                        <label for="">Number Of paid Leave Days

                                        </label>
                                        <input asp-for="ExhaustedVacationDays" type="number" name="ExhaustedVacationDays" class="subject"
                                               placeholder="Exa : 12 " required>
                                    </div>
                                  
                                    <div class="col-lg-6 col-md-12 col-sm-12 form-group">
                                        <button class="theme-btn btn-style-two" type="submit" id="submit"
                                                name="submit-form">
                                            Submit Review
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Contact Section -->
<!-- Main Footer -->
<
<!-- End Footer -->

</div>

