@using Microsoft.CodeAnalysis.Scripting
@model GSI_Internal.Models.ViewModel.HomeVM



<!-- Banner Section / Style Three-->
<!-- BANNER SECTION START -->


<section class="banner-section style-five">
    <div class="banner-carousel owl-carousel owl-theme">

        @foreach (var item in Model.SlideShowVM)
        {
            var photo = item.SlideImage.Replace("\\", "/");
                <div class="slide-item" style="background-image: url(@Url.Content(photo));">
                <div class="slide-content">
                    <div class="auto-container">
                        <h2>@item.Title_English</h2>
                        <div class="text">@item.ReSizeme_English</div>
                    </div>
                </div>
            </div>
        }
      
       
    </div>
</section>
<!-- End Banner Section-->

<!-- SLIDER EXAMPLE -->






<section class="listing-section style-two ptb-60 w-400">
    <div class="sec-title text-center">
        <h2>Popular services</h2>
        <span class="divider"></span>
        <div class="text">
            Explore some of the best tips from around the city from our partners and friends.
        </div>
    </div>
    <div class="swiper mySwiper container">
        <div class="swiper-wrapper content">
               
            
            @foreach (var item in Model.PopularTransactionItemVM)
            {
              
              
                <partial name="_PopularServices" model="item" />
                
            }

        </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
</section>
<!-- BANNER SECTION END -->

<section class="listing-tabs-section">
    <div class="auto-container">
        <div class="sec-title text-center">
            <h2>Popular entities</h2>
            <span class="divider"></span>
        </div>

        <!-- Listing Search Tabs -->
        <div class="listing-tabs tabs-box">
            <div class="contact-column col-lg-12 col-md-12 col-sm-12 m-auto">
                <div class="main-box">
                    <div class="logo-box">
                        <div class="search-box">
                            <!-- Search Backdrop -->
                            <div class="search-backdrop"></div>

                            <div class="header-search-form">
                                <input type="text" name="header-search" id="cusom-search"
                                       data-list=".search-list" placeholder="What are you looking for?"
                                       autocomplete="off">
                                <span class="search-btn"><i class="flaticon-magnifying-glass"></i></span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <ul class="tab-buttons">
                <li class="tab-btn active-btn" data-tab="#tab-2">
                    <i class="fab fa-facebook-f"></i> Governmental
                    entities
                </li>
                <li class="tab-btn" data-tab="#tab-1"> <i class="fab fa-facebook-f"></i> Package Services</li>

            </ul>

      
            <div class="tabs-content">
                <!--Tab-->
                <div class="tab" id="tab-1" style="display: none;">
                    <div class="row">
                        <!-- Feature Block Two -->
                        
                      
                        

                     
                        
                    </div>
                 
                </div>

                <div class="tab active-tab animated fadeIn" id="tab-2" style="display: block;">
                    <div class="row">
                        <!-- Feature Block Two -->
                        @foreach (var item in Model.TransactionGroupVM)
                        {


                            <partial name="_TransGroupCard" model="item" />
                        }
                    </div>
                    

                </div>
            </div>
        </div>
    </div>
</section>

<section class="how-it-works">
    <div class="auto-container">
        <div class="sec-title text-center">
            <h2>How We Work</h2>
            <span class="divider"></span>
            <div class="text">Discover how Listable can you help you find everything you want.</div>
        </div>
        <div class="row">
            <!-- Work Block -->
            <div class="work-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box">
                    <figure class="icon-box"><img src="images/icons/process-1.png" alt=""></figure>
                    <h4>Our Vision</h4>
                    <div class="text">
                        Looking for a cozy hotel to stay, a restaurant to eat, a museum to visit
                        or a mall to do some shopping?
                    </div>
                </div>
            </div>

            <!-- Work Block -->
            <div class="work-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box">
                    <figure class="icon-box"><img src="images/icons/process-2.png" alt=""></figure>
                    <h4>Our Mission</h4>
                    <div class="text">
                        Looking for a cozy hotel to stay, a restaurant to eat, a museum to visit
                        or a mall to do some shopping?
                    </div>
                </div>
            </div>

            <!-- Work Block -->
            <div class="work-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box">
                    <figure class="icon-box"><img src="images/icons/process-3.png" alt=""></figure>
                    <h4>Our Values</h4>
                    <div class="text">
                        Looking for a cozy hotel to stay, a restaurant to eat, a museum to visit
                        or a mall to do some shopping?
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Call to Action -->
<section class="call-to-action" style="background-image: url(images/1.jpg);">
    <div class="auto-container">
        <div class="content">
            <h3>Download your application</h3>
            <div class="text">
                Lorem ipsum, dolor sit amet consectetur adipisicing.<br>Lorem ipsum dolor sit.
            </div>
            <div class="btn-box">
                <a href="index.html" class="theme-btn btn-style-three">
                    Google play<i class="fa-brands fa-google-play ml-5"></i>
                </a>
            </div>
            <div class="btn-box">
                <a href="index.html" class="theme-btn btn-style-three">
                    App store<i class="fa-brands fa-app-store ml-5"></i>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- End Call to Action -->
<!-- Testimonial Section -->
<section class="testimonial-section style-two">
    <div class="auto-container">
        <!-- Sec Title -->
        <div class="sec-title text-center">
            <h2>What Our Users Say</h2>
            <span class="divider"></span>
            <div class="text">Discover how Listable can you help you find everything you want.</div>
        </div>

        <div class="testimonial-outer">
            <!-- Product Thumbs Carousel -->
            <div class="client-thumb-outer">
                <div class="client-thumbs-carousel owl-carousel owl-theme">
                    <div class="thumb-item">
                        <figure class="thumb-box"><img src="images/resource/testi-thumb-1.jpg" alt=""></figure>
                        <div class="author-info">
                            <div class="author-name">Lara Croft</div>
                            <div class="designation">Restaurant Owner</div>
                        </div>
                    </div>
                    <div class="thumb-item">
                        <figure class="thumb-box"><img src="images/resource/testi-thumb-2.jpg" alt=""></figure>
                        <div class="author-info">
                            <div class="author-name">Lara Croft</div>
                            <div class="designation">Restaurant Owner</div>
                        </div>
                    </div>
                    <div class="thumb-item">
                        <figure class="thumb-box"><img src="images/resource/testi-thumb-3.jpg" alt=""></figure>
                        <div class="author-info">
                            <div class="author-name">Lara Croft</div>
                            <div class="designation">Restaurant Owner</div>
                        </div>
                    </div>

                    <div class="thumb-item">
                        <figure class="thumb-box"><img src="images/resource/testi-thumb-4.jpg" alt=""></figure>
                        <div class="author-info">
                            <div class="author-name">Lara Croft</div>
                            <div class="designation">Restaurant Owner</div>
                        </div>
                    </div>
                    <div class="thumb-item">
                        <figure class="thumb-box"><img src="images/resource/testi-thumb-5.jpg" alt=""></figure>
                        <div class="author-info">
                            <div class="author-name">Lara Croft</div>
                            <div class="designation">Restaurant Owner</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Client Testimonial Carousel -->
            <div class="client-testimonial-carousel owl-carousel owl-theme">

                <!--Testimonial Block -->
                <div class="testimonial-block">
                    <div class="inner-box">
                        <div class="text">
                            Especially i want to give thanks to support team, this guys are
                            friendly, <br> correct, gave me quick and complete answers.
                        </div>

                    </div>
                </div>

                <!--Testimonial Block -->
                <div class="testimonial-block">
                    <div class="inner-box">
                        <div class="text">
                            Especially i want to give thanks to support team, this guys are
                            friendly, <br> correct, gave me quick and complete answers.
                        </div>

                    </div>
                </div>

                <!--Testimonial Block -->
                <div class="testimonial-block">
                    <div class="inner-box">
                        <div class="text">
                            Especially i want to give thanks to support team, this guys are
                            friendly, <br> correct, gave me quick and complete answers.
                        </div>

                    </div>
                </div>

                <!--Testimonial Block -->
                <div class="testimonial-block">
                    <div class="inner-box">
                        <div class="text">
                            Especially i want to give thanks to support team, this guys are
                            friendly, <br> correct, gave me quick and complete answers.
                        </div>

                    </div>
                </div>

                <!--Testimonial Block -->
                <div class="testimonial-block">
                    <div class="inner-box">
                        <div class="text">
                            Especially i want to give thanks to support team, this guys are
                            friendly, <br> correct, gave me quick and complete answers.
                        </div>

                    </div>
                </div>

                <!--Testimonial Block -->
                <div class="testimonial-block">
                    <div class="inner-box">
                        <div class="text">
                            Especially i want to give thanks to support team, this guys are
                            friendly, <br> correct, gave me quick and complete answers.
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="clients-outer">
        <div class="auto-container">
            <div class="clients-carousel owl-carousel owl-theme">
                <figure class="image"> <a href="#"><img src="images/clients/1.png" alt=""></a> </figure>
                <figure class="image"> <a href="#"><img src="images/clients/2.png" alt=""></a> </figure>
                <figure class="image"> <a href="#"><img src="images/clients/3.png" alt=""></a> </figure>
                <figure class="image"> <a href="#"><img src="images/clients/4.png" alt=""></a> </figure>
                <figure class="image"> <a href="#"><img src="images/clients/5.png" alt=""></a> </figure>
            </div>
        </div>
    </div>
</section>